@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.woff2') format('woff2'),
       url('fonts/Raleway-Regular.woff') format('woff');
  
}

@font-face {
  font-family: 'Raleway Light';
  src: url('fonts/Raleway-Light.woff2') format('woff2'),
       url('fonts/Raleway-Light.woff') format('woff');
}

 body { 
  margin: 0;
  height: 100%;
 font-family: 'Raleway', sans-serif;
 line-height: 1.4rem;
 
}

h1, h2, h3 {
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  line-height: 1.4rem;
}


 /* header */

header {
  display: flex;
  height: 50vh;

}
.header-container {
  display: flex;
  justify-content: center;
  background-color: #1b1a1a;
  flex-direction: column;
  padding: 20px;
  width: 100%;
 
}

.logo {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.nav-serch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1a1a;
  padding: 1rem;
  margin-bottom: 4rem;
  height: 5rem;
}

.navbox {
  display: flex;
}
nav {
  background-color: #1b1a1a;
  display: flex;
  flex-direction: column;
  width: 100%;

   
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
 
 
}

nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;

}

nav a:hover {
  background-color: #272525;
  font-size: 17px;

}

.serch {
  text-align: right;
}

.serch form {
  display: flex;
  width: 100%;
}

.serch input[type="text"] {
  width: 400px; 
  padding: 10px;
  border-radius: 1rem;
}

.serch input[type="submit"] {
  background-color: #524650;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 1rem;
  text-transform: uppercase;
}

.serch input[type="submit"]:hover {
  background-color: #272525;
}

/* Header responsiv  */
@media (max-width: 768px) {
  header {
    height: auto;
  }
  
  .header-container {
    align-items: center;
    height: auto; 
    padding: 20px;
  }

  .nav-serch-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }

  nav {
    margin: 0;
    width: 100%;
  }
nav ul {
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
  nav a {
    padding: 10px;
  }

  .serch input[type="text"] {
    width: 100%;
    margin-right: 0;
  }
}


/* Bildspel */

#slideshow-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.mySlides {
  width: 100%;
  height: auto;
  display: none;
}

.arrow {
  position: absolute;
  font-size: 24px;
  color: white;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}
/* Vi erbjuder */

.content-container {
  display: flex;
  flex-wrap: wrap; 
  padding: 0;
  margin: 0;
  margin-top: 0;
}

.Erbjuder-rubrik {
  flex: 1;
  position: relative;
  margin-top: 0;
}

.Erbjuder-rubrik video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

.erbjuder-text {
  flex: 1;
  padding: 20px;
  background-color: #b1b1b1;
  color: black;
  box-sizing: border-box; 
}

.erbjuder-text h2 {
  text-align: left;
  margin-top: 2rem; 
  margin-right: 2rem; 
  margin-left: 2rem; 
  margin-bottom: 1rem;
}

.EME {
  text-align: left;
  margin-right: 2rem; 
  margin-left: 2rem; 
  margin-bottom: 2rem; 
}

/* Vi erbjuder responsiv  */


@media (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

  }
  .Erbjuder-rubrik {
    display: none; 
  }

  .erbjuder-text {
    text-align: center;
    margin: 0; 
    padding: 0; 
  }

   }

/* Footer stilar */

.footer {
padding:0;
margin:0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
background-color: #1b1a1a;
padding: 4rem 0 4 0;


}

.footer {
    background-color: #1b1a1a;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
display: flex;
flex-direction: column;
margin-right: 4rem;

}

.footer-heading h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 18px;
}

.footer-heading a {
color: white;
text-decoration: none;
margin-bottom: 0.5rem;
display: flex;
justify-content: left;
text-transform: uppercase;
}
.footer-heading a:hover {
    color:#524650;;
    transition: 0.3s ease-out;
     }

    .footer-email-form {
      margin-bottom: 2rem;
    }

     #footer-email {
        width: 250px;
        height: 30px;
        border-radius: 4px;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;

     }
     .footer-email-form h2 {  
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 18px;
    }
   
     #footer-email::placeholder {
        color:#b1b1b1;
     }
      #footer-email-btn {
        width: 155px;
        height: 50px;
        border-radius: 5px;
        background-color:#524650;
        outline: none;
        border: none;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
      }

      #footer-email-btn:hover {
        background-color:black;
        transition: all 0.4s ease-out;
    }

      /* footer responsiv */
      @media only screen and (max-width: 600px) {
        .footer-heading.footer-3 {
          display: none;
        }
      
        .footer {
          flex-direction: column;
        }
      
        .footer-heading,
        .footer-email-form {
          flex: auto;
          text-align: center;
          margin-bottom: 10px;
        }

        .footer-heading a {
          display: block;
          text-align: center;
          margin: 5px 0;
          color: inherit; 
          text-decoration: none;
        }

        .footer-email-form h2 {
          text-align: center;

        }

      
        .footer-email-form h2 {
          text-align: left;
          margin-left: 3.5rem;
        }
      
        .footer-email-form input[type="email"],
        .footer-email-form input[type="submit"] {
          width: 100%;
          margin: 0;
        }
      }
    /* Introtexter */

    .page-intro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #b1b1b1;
      margin-bottom: 0px;
      padding: 10px;
    }
    
    .page-intro-text h1 {
      margin-top: 10px;
      text-align: center;
      margin-bottom: 10px;
    }
    
    .page-intro-text p {
      text-align: center;
      margin: 10px;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 16px;
    }

    /* Om 0ss */
.container-about-us {
  display: flex;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  
}

.container-about-us-img {
  flex: 1;

}

.img-about-us {
  width: 100%;
  height: 100%;
}

.container-about-us-content-odd {
  flex: 1;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #b1b1b1;
   margin: 0;
   border: 2px solid whitesmoke; 
   margin-top:0;
   margin-bottom:0
 }

.container-about-us-content-even {
 flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cecccc;
  margin: 0;
  border: 2px solid whitesmoke; 
  margin-top:0;
  margin-bottom:0
}

h1 {
  margin: 0;
  margin-top: 0;
  margin-bottom: 1.4rem;
}

p {
  margin: 0;
}


/* Om oss responsiv */

@media (max-width: 768px) {
  .container-about-us {
    flex-direction: column; 
  }

  .container-about-us-img {
    width: 100%; 
  }

  .container-about-us-content-even,
  .container-about-us-content-odd {
    text-align: center; 
  }
  .container-about-us h1 {
    line-height: 1.4rem;
    
  }
}



/* kontakta oss */
.page-intro-text-contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b1b1b1;
  padding:20px;
  margin-bottom: 0px;

}

.page-intro-text-contact-us h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* kontakta oss boka-knapp */

.button-container {
  text-align: center;
  margin-top: 0;
  background-color: #b1b1b1;
  margin:0;
  
}

button {
  padding: 10px 30px;
  background-color: #524650;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #000; 
}

/* Kontaktuppgifter*/
.team {
  background-color:#b1b1b1;
 margin-bottom: 0;
 margin-top: 0;
}

.container-team {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.person {
  flex: 0 0 25%;
  text-align: center;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.team h2 {
  font-size: 16px; 
}
.person-image {
  text-align: center;
}

.person-image img {
  max-width: 100%;
}

.person-text {
  text-align: center;
  padding: 10px; 
}



/* kontakt-formulär */

.contact-us {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contact-us {
  background-color: #cecccc;
}
.container-contact-us {
  width: 80%;
  padding: 20px;
  background-color:#cecccc;

}

.container-contact-us h2 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;

}

.wrapper-contact-us {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  gap: 30px;
  margin-bottom: 30px;
  
}

.wrapper-box-contact-us {
  width: 100%;
  position: relative;
  padding: 20px;
}

.wrapper-box-contact-us input {
  width: 100%;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  transition: 0.5s linear;

}

.wrapper-box-contact-us input:focus,
.wrapper-box-contact-us input:valid {
  padding: 20px 10px;
  background:whitesmoke;
  margin-top: 10px ;

}
.wrapper-box-contact-us label {
position: absolute;
top: 0;
left: 0;
color: black;
font-size: larger 18px;
font-weight: bold;
padding: 20px;
transition: 0.5s linear;

}
.wrapper-box-contact-us input:focus ~ label,
.wrapper-box-contact-us input:valid ~ label {
  padding:0;

}

.wrapper-box-contact-us textarea {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  transition: 0.5s linear;

}

.wrapper-box-contact-us textarea:focus,
.wrapper-box-contact-us textarea:valid {
  padding: 20px 10px;
  background: whitesmoke;
  margin-top: 10px;
   }

.wrapper-box-contact-us textarea:focus ~ label,
.wrapper-box-contact-us textarea:valid ~ label {
  padding:0;

}

#button-contact-us {
  background: #524650 ;
  color: white;
  padding: 15px 30px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
#button-contact-us:hover {
  background-color: #1b1a1a;
}

/* kontakt-telefon och adress */

.container-contact-info {
  text-align: center;
  background-color: #cecccc;
  margin-top: 0;
  padding: 20px 0;
 
}
.contact-info-number-email {
 
  margin-bottom: 0;
 
}

.container-contact-info h2 {
  margin-bottom: 5px;
}

.container-contact-info p {
  margin-top: 5px; 
}

.location-info h2 {
  margin-bottom: 5px;
}

.contact-info {
  text-align: center;
  margin-bottom: 0;
 
}

.map {
  height: 45vh;
  margin-top: 20px;
  margin-bottom: 0;
}

/* frågor och svar */

.faq {
  background-color: #b1b1b1;
  margin: 0 0;
  padding: 20px;
 
}

.faq h2 {
  margin: 0;
  color: black;
  text-align: center;
  margin-top: 10px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  margin: 0 0; 
}

.faq-box {
  background-color: #b1b1b1;
  padding: 20px;
  margin-bottom: -2px;
  margin-top: 20px;
  border: 2px solid white; 
  cursor: pointer;
  transition: background-color 0.3s;

}

.faq-box:hover {
  background-color: #524650;
  color: white;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  display: none;
}



/* Kontakta oss responsiv */

@media (max-width: 768px) {
  .contact-us-main .page-intro-text,
  .contact-us-main .button-container,
  .contact-us-main .team,
  .contact-us-main .contact-us,
  .contact-us-main .faq,
  .contact-us-main .container-contact-info {
    width: 100%; 
  }

  .button-container button {
    width: 100%; 
  }
  .team .container-team {
    display: flex;
    flex-direction: column;
  }
  .team .person,
  .faq .faq-container,
  .container-contact-info .contact-info-number-email,
  .container-contact-info .location-info {
    margin: 20px 0; 
  }

   
    .page-intro-text {
      font-size: 16px;
      padding: 10px;
    
  }
}

 /* Prislista */


.image-topp-pricelist {
  position: relative;
  display: flex;
  overflow: hidden;
}

.image-topp-pricelist img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

 /* Tabell-Prislista */

 .price-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.table-price-list {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  height: 100%;
  margin-top:0;
  margin-bottom: 0;
}

.table-price-list th, .table-price-list td {
  padding: 10px;
  text-align: left;
}

.table-price-list th {
  background-color: #524650;
  color: white;
}

.table-price-list tr:nth-child(even) {
  background-color: #cecccc;
}

.table-price-list tr:nth-child(odd) {
  background-color: #b1b1b1;
}

.table-price-list tr td {
  border: 1px solid white;
}



 /* Omdömmen */

 .reviews-intro-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #b1b1b1; 
  padding: 20px; 
  box-sizing: border-box; 
}

.reviews-intro-container h1 {
  background-color: #b1b1b1; 
  padding: 10px; 

}
.reviews-intro-container p {
  background-color: #b1b1b1; 
  padding: 10px; 
  margin: 0; 
}

 .reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #cecccc;
}

.reviews-rating-container {
  width: 50%;
  text-align: center;
}

.header-reviews {
  margin-bottom: 20px;
  margin-top: 20px;
}


.form-container {
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 6rem;
  background-color: #cecccc;
  border: solid whitesmoke 2px;
  font-size: 16px;
}

button {
  margin-top: 10px;
}

.star {
  font-size: 2rem;
  color: whitesmoke; 
  cursor: pointer;
}

.star.rated {
  color: #ffd700; 
}

#reviews-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}









